# ==============================================================================

# GLOBAL CONFIGURATION

# ==============================================================================

APP_ENV=dev

DEBUG=true

PROJECT_NAME=university-data-platform



# ==============================================================================

# DATA LAKE INFRASTRUCTURE (MINIO)

# ==============================================================================

MINIO_ROOT_USER=

MINIO_ROOT_PASSWORD=

MINIO_API_PORT=9000

MINIO_CONSOLE_PORT=9001

MINIO_ENDPOINT=http://minio:9000



# Buckets Names

MINIO_RAW_BUCKET_WEB=raw-web-html-dev

MINIO_RAW_BUCKET_DOCUMENTS=raw-documents-dev

MINIO_RAW_BUCKET_IMAGES=raw-images-dev

MINIO_RAW_BUCKET_LOGS=raw-logs-dev

MINIO_RAW_BUCKET_JSON=raw-json-dev

# ==============================================================================

# RELATIONAL METASTORE DB (POSTGRESQL FOR HIVE)

# ==============================================================================

POSTGRES_USER=

POSTGRES_PASSWORD=

POSTGRES_DB=hive_metastore_dev

POSTGRES_PORT=5432



# ==============================================================================

# APACHE SPARK \& HIVE METASTORE

# ==============================================================================

SPARK_MASTER_PORT=7077

SPARK_WEBUI_PORT=8085

HIVE_METASTORE_PORT=9083

METABASE_PORT=3000



# ==============================================================================

# SEARCH ENGINE (ELASTICSEARCH)

# ==============================================================================

ELASTIC_USER=

ELASTIC_PASSWORD=

ELASTIC_PORT=9200

ELASTIC_MEM_LIMIT=2g



# ==============================================================================

# SEARCH API (FASTAPI)

# ==============================================================================

API_PORT=8000

# Secret JWT généré pour le développement local

JWT_SECRET=

JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=60

# Airflow

AIRFLOW_PORT=8082

AIRFLOW_SECRET_KEY=

AIRFLOW_ADMIN_USER=

AIRFLOW_ADMIN_PASSWORD=